<!DOCTYPE html>
<html>
<head>
    <title>gridManip</title>
</head>
<body>

<div class="mapInfoWrapper">
    <button class="toggleVisibilityButton"
            onClick="toggleVisibility(document.getElementsByClassName('mapInfo')[0])"
            title="Toggle Map Info Visibility"
    >-</button>
    <div class="mapInfo">
        <form id="mapData">
            Upload your map
            <input id="mapImage" type="file" onchange="previewFile()" /></br>
            Enter your map height in pixels
            <input id="mapHeight" type="number" value=320 /></br>
            Enter your map width in pixels&nbsp;
            <input id="mapWidth"  type="number" value=608 /></br>
            Enter your grid size in pixels&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="gridSize"  type="number" value=20  /></br>
        </form>
        <button onClick="createMap()">Update map</button>
    </div>
</div>


</br></br>

<div class="gameGrid">
    <!--temp hardcoded source-->
    <img id="gameBoard" src="C:\Users\djsch\Desktop\coms309\SD_2\Experiments\Experiments_Dustin\imageManipExp\imageManip\landscapeOut.jpg">
</div>

<div class="markerControlsWrapper">
    <button class="toggleVisibilityButton"
            onClick="toggleVisibility(document.getElementsByClassName('markerControls')[0])"
            title="Toggle Marker Controls Visibility"
    >+</button>
    <div class="markerControls hidden">
        <button class="addMarker">Add marker</button>
        <button class="destroyMarker" onClick="destroyMarker()">Destroy marker</button>
        <div class="styleWrapper">
            <button class="styleMarker" onClick="styleMarker()">Style marker</button>
            <input class="styleColor" type="color"/>
            <input class="styleText" size="5" type="text" placeholder="Symbol"/>
            <button class="styleImageDisplay" onClick="document.getElementsByClassName('styleImage')[0].click()">Marker image</button> <!-- lol -->
            <input class="styleImage" style="display: none" type="file" />
            <input class="styleTitle" size="5" type="text" placeholder="Name"/>
            <input class="styleSize" type="number" value=1 style="width:30px" min="1" max="9" />
        </div>
    </div>
</div>


<div class="devTools"> <!-- This will be hidden when we're not developing, but is convenient for now -->
    Neat dev stuff </br>
    <button onClick="mapContentsToObject()">mapContentsToObject</button>
    <button onClick="yeetJSONtoServer(mapContentsToObject())">Yeet the JSON</button>
    <button onClick="createFakeJSON()">createFakeJSON</button>
    <button onClick="populateMapFromJSON(createFakeJSON())">populateMapFromJSON</button>
</div>

<div id="invisible" style="display: none">Need a place to store a marker so it can be found by the silly js so it can be placed...</div>

</body>
</html>

<script>
    function previewFile(){
        var preview = document.getElementById("gameBoard");
        var file = document.getElementById("mapImage").files[0];
        var reader  = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file); //reads the data as a URL
        } else {
            preview.src = "";
        }
    }

    function createMap(){

        emptyMap();

        var mapHeight = document.getElementById("mapHeight").value;
        var mapWidth = document.getElementById("mapWidth").value;
        var gridSize = document.getElementById("gridSize").value;

        var cols = Math.floor(mapWidth / gridSize);
        var rows = Math.floor(mapHeight / gridSize);

        var gameBoard = document.querySelector('#gameBoard');
        var gameGrid = document.getElementsByClassName("gameGrid")[0];

        //TODO: Add a way to safely "wipe" the map

        gameBoard.style.height = (mapHeight + "px");
        gameBoard.style.width = (mapWidth + "px");

        gameBoard.setAttribute("data-height", mapHeight);
        gameBoard.setAttribute("data-width", mapWidth);
        gameBoard.setAttribute("data-gridSize", gridSize);

        var i=0;
        var j=0;
        for(i=0; i<cols; i++){
            for(j=0; j<rows; j++){
                var tile = document.createElement('div');
                tile.style.position = 'absolute';
                tile.style.left = i*gridSize + "px";
                tile.style.top = j*gridSize + "px";
                tile.style.width = gridSize + "px";
                tile.style.height = gridSize + "px";
                tile.style.zIndex = "10000";
                tile.setAttribute("data-x", i);
                tile.setAttribute("data-y", j);
                gameGrid.appendChild(tile);
                tile.addEventListener("click", function(dest){return function(){moveMarker(dest)};}(5 + i*rows + j));
                tile.addEventListener("mouseover", function(){this.classList.add("hoveringTile");});
                tile.addEventListener("mouseout", function(){this.classList.remove("hoveringTile");});
            }
        }

        gameGrid.childNodes[5].appendChild(createMarker(gridSize));

        var markerControls = document.getElementsByClassName("markerControls")[0];
        markerControls.querySelectorAll("button.addMarker")[0].addEventListener("click", function(gridSize){return function(){addMarker(gridSize);}}(gridSize));
        if(markerControls.classList.contains("hidden")){
            toggleVisibility(markerControls);
        }

    }

    function emptyMap(){
        var gameBoard = document.querySelector('#gameBoard');
        var gameGrid = document.getElementsByClassName("gameGrid")[0];

        var oldTiles = gameGrid.querySelectorAll("div");

        var i=0;
        for(i=0; i<oldTiles.length; i++){
            if(oldTiles[i].parentNode == gameGrid){
                gameGrid.removeChild(oldTiles[i]);
            }
        }
    }

    function moveMarker(dest){
        var toMove = document.getElementsByClassName("actionTarget")[0];
        var gameGrid = document.getElementsByClassName("gameGrid")[0];
        if(gameGrid.classList.contains("trackMouse")){
            gameGrid.childNodes[dest].appendChild(toMove);
        }
    }

    function createMarker(size){
        var marker = document.createElement('div');
        marker.style.width = size + "px";
        marker.style.height = size + "px";
        marker.setAttribute("data-size", 1);
        marker.style.backgroundColor = "blue";
        marker.classList.add("marker");
        marker.addEventListener("click", function(marker){return function(){markerClickHandler(marker)};}(marker));
        return marker;
    }

    function addMarker(size){

        var gameGrid = document.getElementsByClassName("gameGrid")[0];

        unmarkActionTargets(0);

        var marker = createMarker(size);
        marker.classList.add("actionTarget");
        document.getElementById("invisible").appendChild(marker);
        gameGrid.classList.add("trackMouse");

    }

    function markerClickHandler(marker){
        if(unmarkActionTargets(marker)){
            document.getElementsByClassName("gameGrid")[0].classList.remove("trackMouse");
            return; //comment this line if intended behavior changes so clicking a marker should mark that one to move
        }
        document.getElementsByClassName("gameGrid")[0].classList.toggle("trackMouse");
        marker.classList.toggle("actionTarget");
    }

    function unmarkActionTargets(exceptionMarker){
        var toMoves = document.getElementsByClassName("actionTarget");
        var unmarkedSomething = false;
        var i = 0;
        for(i=0; i<toMoves.length; i++){
            if(toMoves[i] == exceptionMarker){
                continue;
            }
            toMoves[i].classList.remove("actionTarget");
            unmarkedSomething = true;
        }
        return unmarkedSomething;
    }

    function styleMarker(){
        if(document.getElementsByClassName("actionTarget").length <= 0){
            return;
        }
        var toStyle = document.getElementsByClassName("actionTarget")[0];
        var color = document.getElementsByClassName("styleColor")[0].value;
        var text = document.getElementsByClassName("styleText")[0].value;
        var title = document.getElementsByClassName("styleTitle")[0].value;
        var size = document.getElementsByClassName("styleSize")[0].value - 1;

        var offset = size * parseInt(toStyle.style.width)/2;

        toStyle.style.backgroundColor = color;
        toStyle.innerHTML = text;
        toStyle.title = title;
        toStyle.style.padding = offset + "px";
        toStyle.style.left = "-" + offset + "px";
        toStyle.style.top = "-" + offset + "px";
        toStyle.setAttribute("data-size", size);

        document.getElementsByClassName("styleText")[0].value = "";
        document.getElementsByClassName("styleTitle")[0].value = "";
        document.getElementsByClassName("styleSize")[0].value = 1;

        if(document.getElementsByClassName("styleImage")[0].files.length > 0){
            var file = document.getElementsByClassName("styleImage")[0].files[0];
            var reader  = new FileReader();

            reader.onloadend = function(){
                toStyle.style.backgroundImage = "url(" + reader.result + ")";
                document.getElementsByClassName("styleImage")[0].value = "";
            }

            if(file){
                reader.readAsDataURL(file);
            }

        }

    }

    function destroyMarker(){
        if(document.getElementsByClassName("actionTarget").length <= 0){
            return;
        }
        var toDestroy = document.getElementsByClassName("actionTarget")[0];
        toDestroy.parentNode.removeChild(toDestroy);
        document.getElementsByClassName("gameGrid")[0].classList.remove("trackMouse")
    }

    function mapContentsToObject(){
        var gameGrid = document.getElementsByClassName("gameGrid")[0];
        var gameBoard = gameGrid.querySelector("#gameBoard");

        var mapImage = ""; //TODO: implement when decisions on storing images are made
        var mapHeight = gameBoard.getAttribute("data-height");
        var mapWidth = gameBoard.getAttribute("data-width");
        var gridSize = gameBoard.getAttribute("data-gridSize");

        var markersInfoArray = [];

        var markers = gameGrid.querySelectorAll(".marker");

        var i=0;
        for(i=0; i<markers.length; i++){
            var m = markers[i];
            var markerInfo = {
                x: m.parentNode.getAttribute("data-x"),
                y: m.parentNode.getAttribute("data-y"),
                color: m.style.backgroundColor,
                symbol: m.innerHTML,
                image: "",
                name: m.title,
                size: m.getAttribute("data-size"),
                permissions: ""
            };
            markersInfoArray.push(markerInfo);
        }

        var gameBoardInfo = {
            image: mapImage,
            height: mapHeight,
            width: mapWidth,
            gridSize: gridSize,
            markers: markersInfoArray
        }

        console.log(gameBoardInfo);
        return gameBoardInfo;
    }

    function yeetJSONtoServer(toYeet){
        var jsonFormattedYeetable = JSON.stringify(toYeet);
        console.log(jsonFormattedYeetable); //delete this line
        //do magic
    }

    function toggleVisibility(element){
        if(element.classList.contains("hidden")){
            element.classList.remove("hidden");
            if(element.parentNode.querySelector(".toggleVisibilityButton")){
                element.parentNode.querySelector(".toggleVisibilityButton").innerHTML = "-";
            }
        }
        else {
            element.classList.add("hidden");
            if(element.parentNode.querySelector(".toggleVisibilityButton")){
                element.parentNode.querySelector(".toggleVisibilityButton").innerHTML = "+";
            }
        }
    }

    function createFakeJSON(){

        var markersInfoArray = [];

        var markerInfo1 = {
            x: "5",
            y: "5",
            color: "#db3f17",
            symbol: "r",
            image: "",
            name: "I am red",
            size: "1",
            permissions: ""
        };
        markersInfoArray.push(markerInfo1);

        var markerInfo2 = {
            x: "7",
            y: "7",
            color: "#ff80c0",
            symbol: "p",
            image: "",
            name: "I am big pink",
            size: "3",
            permissions: ""
        };
        markersInfoArray.push(markerInfo2);


        var gameBoardInfo = {
            image: "",
            height: "160",
            width: "304",
            gridSize: "10",
            markers: markersInfoArray
        }

        console.log(JSON.stringify(gameBoardInfo));
        return JSON.stringify(gameBoardInfo);
    }

    function populateMapFromJSON(json){
        var parsedJSON = JSON.parse(json);
        var gameGrid = document.getElementsByClassName("gameGrid")[0];
        var gameBoard = gameGrid.querySelector("#gameBoard");

        var mapHeight = parseInt(parsedJSON.height);
        var mapWidth = parseInt(parsedJSON.width);
        var gridSize = parseInt(parsedJSON.gridSize);
        var mapImage = parsedJSON.image;
        var markers = parsedJSON.markers;

        document.getElementById("mapHeight").value = mapHeight;
        document.getElementById("mapWidth").value = mapWidth;
        document.getElementById("gridSize").value = gridSize;

        createMap();

        var i=0;
        for(i=0; i<markers.length; i++){
            var m = markers[i];
            addMarker(parsedJSON.gridSize);
            var tile = gameGrid.querySelectorAll("[data-x='" + m.x + "']")[m.y];
            tile.click();

            document.getElementsByClassName("styleColor")[0].value = m.color;
            document.getElementsByClassName("styleText")[0].value = m.symbol;
            document.getElementsByClassName("styleTitle")[0].value = m.name;
            document.getElementsByClassName("styleSize")[0].value = m.size;

            styleMarker();
        }

        unmarkActionTargets(0);
        document.getElementsByClassName("gameGrid")[0].classList.remove("trackMouse");

    }

</script>

<style>
    .gameGrid{
        position: relative;
    }

    .marker{
        text-align: center;
        vertical-align: bottom;
        overflow: hidden;
        position: relative;
        opacity: 0.8;
    }

    .devTools{
        background-color: lightblue;
        display: block;
        position: fixed;
        text-align: center;
        top: 0;
        right: 0;
        width: 200px;
        padding: 5px;
    }

    .trackMouse .hoveringTile{
        background-color: green;
        opacity: .5;
    }

    .actionTarget{
        border: 2px dashed lime;
        margin-top: -2px;
        margin-left: -2px;
    }

    .markerControlsWrapper, .styleWrapper, .mapInfoWrapper{
        display: inline-block;
        border: 1px solid black;
        padding: 2px;
    }

    .hidden {
        display: none;
    }

    .toggleVisibilityButton{
        height: 24px;
        width: 24px;
    }

</style>
